@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-white;
}

.bg-hero {
  background-image: url("../public/hero.png");
  background-size: cover;
}

hr {
  height: 3px;
  color: white;
  background-color: white;
  border: 0;
  z-index: -10;
}

.gradient-project {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50.08%,
    rgba(25, 26, 25, 0.5) 100%
  );
}

.bg-contact {
  background-image: url("../public/bg-contact.png");
}

.gradient-contact {
  background-image: linear-gradient(
    180deg,
    #191a19 0%,
    rgba(0, 0, 0, 0) 152.79%
  );
}
